/* Code for Selection Text */
::-moz-selection {
    background: map.get($theme-colors, "primary");
    color: map.get($theme-colors, "white");
}

::selection {
    background: map.get($theme-colors, "primary");
    color: map.get($theme-colors, "white");
}